div.container{
    background-color: rgb(31, 27, 27);
    color: white;
}
#logo{
    background-image: url(Encrypting.png);
    width: el ancho que sea;
    height: el alto que sea;
}
nav ul {
    float: left;
    margin-left: 12;
}
button.navbar-toggler{
    color: rgb(197, 24, 24);
}
nav.navbar{
    background-color: default;
}